{
  "plugins": ["prettier"],
  "env": {
    "jest": true
  },
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node", "prettier"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "off"
  }
}
